# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit specific
.streamlit/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Results and temporary files
*.csv
results.csv

# IDE/project files
.vscode/
.idea/
*.iml

# Misc
*.log
